/*--
Author: Designmaz
Author URL: https://www.designmaz.net
License: https://www.designmaz.net/license
--*/
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
  font-family: 'SourceSansPro-Light';
   font-size: 100%;
   background:#eeeeee;
}
a {
  text-decoration: none;
}
a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
@font-face {
    font-family: 'SourceSansPro-Light';
    src:url(../fonts/SourceSansPro-Light.ttf) format('truetype');
}
@font-face {
	font-family: 'SignikaNegative-Regular';
    src:url(../fonts/SignikaNegative-Regular.ttf) format('truetype');
}
/*--header strat here--*/
/*--head-strip start here--*/
.header {
  width: 90%;
  margin: 0 auto 0em;
  padding:3em 0em 4em 0em;
}
.header h3.main-head {
  text-align: center;
  font-size: 3em;
  margin: 0em 0em 1.3em 0em;
  color: #41C0C2;
}
.head-strip {
  background: #fff;
  padding: 1em 1em;
  border-radius: 4px;
  margin: 0em 0em 3em 0em;
  position: relative;
}
.head-strip-left {
  float: left;
  width: 50%;
}
.head-strip-right {
  float: right;
  width: 50%;
}
.head-strip-right ul.strip-date {
  padding: 0em;
  list-style: none;
  padding: 1.3em 0em 0em 0em;
  float: left;
}
.head-strip-right ul.strip-date li {
  display: inline-block;
  margin: 0em 1.5em 0em 0em;
}
.head-strip-right ul.strip-date li span {
  background: url(../images/head-sprit.png)no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-top;
  margin: 0em 0.3em 0em 0em;
}
.head-strip-right ul.strip-date li span.clock {
  background-position: -22px 0px;
}
.head-strip-right ul li span.sun {
  background-position: -43px 0px;
}
.head-strip-right ul.strip-date li h4 {
  font-size: 1em;
  font-weight: 200;
  color: #D0D0D0;
  display: inline-block;
  font-family:'SignikaNegative-Regular';
}
ul.menu {
  padding: 0px;
}
.settiing {
  float: right;
}
.settiing {
  position: absolute;
  right: 0%;
  top: 0%;
  background:#fafafa;
  padding:1.85em 2em 1.85em 2em;
  border-radius:0px 4px 4px 0px;
    z-index: 1;
}

.htlpText {
	background-color: #F4F4F4;
	border: 1px solid #DEDEDE;
	color: #595959;
  text-align: justify;;
	display: inline-block;
	font-size: 1em;
	margin-top: 2em;
	padding: 1.5em;
}

/* Button */
	button,
	.button {

    background-color: #1cb495;
		border-radius: 6px;
		border: 0;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-weight: 700;
		height: 2.75em;
		line-height: 2.75em;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
    /*margin-right: 0.2em;*/
    margin-left: 0.8em;
		padding: 0 1.125em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

  .searchlocations {
    border-radius: 4px 0px 0px 4px;
    background-color: #F4F4F4;
    border: 1px solid #DEDEDE;
    color: #595959;
    text-align: justify;;
    display: inline-block;
    font-size: 1em;
    margin-top: 2em;
    padding: 1.0em;
    /*width: 67%;*/
  }

.location_searchbar {
	background-color: #ffffff;
	border: 1px solid #DEDEDE;
	color: #595959;
  text-align: center;
	display: inline-block;
  padding: 0.6em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  align-self: center;
  /*width: 90%;*/
	font-size: 1em;
}


.menu2 ul li a:hover{
	color:#41c0c2;
}

/*--weather start here--*/
.weather {
  margin-top: 2em;
  border-radius: 4px 0px 0px 4px;
}
.cloud-img {
  background: #73b8b8;
  padding: 1.5em;
  text-align: center;
}
.cloud-img p {
  font-size: 1em;
  color: #fff;
  margin-top: 0.5em;
}
.tempara {
  background: #fff;
  min-height: 168px;
  padding: 3em 0em 0em 0em;
  text-align: center;
}
/*--weather end here--*/

/*--weather2 start here--*/
.weather2 {
  margin-top: 2em;
  border-radius: 4px 0px 0px 4px;
}
.cloud-img2 {
  background: #dc8ab8;
  padding: 1.5em;
  text-align: center;
}
.cloud-img2 p {
  font-size: 1em;
  color: #fff;
  margin-top: 0.5em;
}
.tempara2 {
  background: #fff;
  min-height: 168px;
  padding: 3em 0em 0em 0em;
  text-align: center;
}
/*--weather2 end here--*/
